#container li {
   background: url(default.gif) no-repeat top left;
}
.emotion180 { background-position: 0 -30px; } 
.emotion203 { background-position: 0 -84px; } 
.emotion190 { background-position: 0 -138px; } 
.emotion133 { background-position: 0 -192px; } 
.emotion146 { background-position: 0 -246px; } 
.emotion153 { background-position: 0 -300px; } 
.emotion128 { background-position: 0 -354px; } 
.emotion147 { background-position: 0 -408px; } 
.emotion173 { background-position: 0 -462px; } 
.emotion104 { background-position: 0 -516px; } 
.emotion157 { background-position: 0 -570px; } 
.emotion188 { background-position: 0 -624px; } 
.emotion171 { background-position: 0 -678px; } 
.emotion165 { background-position: 0 -732px; } 
.emotion126 { background-position: 0 -786px; } 
.emotion150 { background-position: 0 -840px; } 
.emotion130 { background-position: 0 -894px; } 
.emotion194 { background-position: 0 -948px; } 
.emotion107 { background-position: 0 -1002px; } 
.emotion135 { background-position: 0 -1056px; } 
.emotion196 { background-position: 0 -1110px; } 
.emotion149 { background-position: 0 -1164px; } 
.emotion162 { background-position: 0 -1218px; } 
.emotion156 { background-position: 0 -1272px; } 
.emotion148 { background-position: 0 -1326px; } 
.emotion202 { background-position: 0 -1380px; } 
.emotion120 { background-position: 0 -1434px; } 
.emotion100 { background-position: 0 -1488px; } 
.emotion160 { background-position: 0 -1542px; } 
.emotion197 { background-position: 0 -1596px; } 
.emotion144 { background-position: 0 -1650px; } 
.emotion168 { background-position: 0 -1704px; } 
.emotion127 { background-position: 0 -1758px; } 
.emotion152 { background-position: 0 -1812px; } 
.emotion170 { background-position: 0 -1866px; } 
.emotion199 { background-position: 0 -1920px; } 
.emotion131 { background-position: -174px -30px; } 
.emotion132 { background-position: -174px -84px; } 
.emotion181 { background-position: -174px -138px; } 
.emotion159 { background-position: -174px -192px; } 
.emotion154 { background-position: -174px -246px; } 
.emotion112 { background-position: -174px -300px; } 
.emotion189 { background-position: -174px -354px; } 
.emotion177 { background-position: -174px -408px; } 
.emotion103 { background-position: -174px -462px; } 
.emotion139 { background-position: -174px -516px; } 
.emotion167 { background-position: -174px -570px; } 
.emotion141 { background-position: -174px -624px; } 
.emotion172 { background-position: -174px -678px; } 
.emotion198 { background-position: -174px -732px; } 
.emotion186 { background-position: -174px -786px; } 
.emotion106 { background-position: -174px -840px; } 
.emotion115 { background-position: -174px -894px; } 
.emotion142 { background-position: -174px -948px; } 
.emotion101 { background-position: -174px -1002px; } 
.emotion204 { background-position: -174px -1056px; } 
.emotion176 { background-position: -174px -1110px; } 
.emotion117 { background-position: -174px -1164px; } 
.emotion145 { background-position: -174px -1218px; } 
.emotion109 { background-position: -174px -1272px; } 
.emotion122 { background-position: -174px -1326px; } 
.emotion111 { background-position: -174px -1380px; } 
.emotion182 { background-position: -174px -1434px; } 
.emotion136 { background-position: -174px -1488px; } 
.emotion118 { background-position: -174px -1542px; } 
.emotion123 { background-position: -174px -1596px; } 
.emotion102 { background-position: -174px -1650px; } 
.emotion161 { background-position: -174px -1704px; } 
.emotion105 { background-position: -174px -1758px; } 
.emotion158 { background-position: -174px -1812px; } 
.emotion151 { background-position: -174px -1866px; } 
.emotion191 { background-position: -174px -1920px; } 
.emotion200 { background-position: -348px -30px; } 
.emotion116 { background-position: -348px -84px; } 
.emotion114 { background-position: -348px -138px; } 
.emotion169 { background-position: -348px -192px; } 
.emotion108 { background-position: -348px -246px; } 
.emotion125 { background-position: -348px -300px; } 
.emotion163 { background-position: -348px -354px; } 
.emotion164 { background-position: -348px -408px; } 
.emotion166 { background-position: -348px -462px; } 
.emotion119 { background-position: -348px -516px; } 
.emotion184 { background-position: -348px -570px; } 
.emotion201 { background-position: -348px -624px; } 
.emotion195 { background-position: -348px -678px; } 
.emotion155 { background-position: -348px -732px; } 
.emotion178 { background-position: -348px -786px; } 
.emotion185 { background-position: -348px -840px; } 
.emotion110 { background-position: -348px -894px; } 
.emotion113 { background-position: -348px -948px; } 
.emotion129 { background-position: -348px -1002px; } 
.emotion193 { background-position: -348px -1056px; } 
.emotion138 { background-position: -348px -1110px; } 
.emotion179 { background-position: -348px -1164px; } 
.emotion187 { background-position: -348px -1218px; } 
.emotion143 { background-position: -348px -1272px; } 
.emotion124 { background-position: -348px -1326px; } 
.emotion140 { background-position: -348px -1380px; } 
.emotion192 { background-position: -348px -1434px; } 
.emotion175 { background-position: -348px -1488px; } 
.emotion174 { background-position: -348px -1542px; } 
.emotion121 { background-position: -348px -1596px; } 
.emotion134 { background-position: -348px -1650px; } 
.emotion137 { background-position: -348px -1704px; } 
.emotion183 { background-position: -348px -1758px; }